body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    overflow-x: hidden;
}


.search .taglist {
    position: relative;
    left: 0;
    top: 0;
}
.search-term-input input {
    font-size: 16px;
    padding: 4px;
}
    
.search .taglist ul {
    position: absolute;
    cursor: pointer;
    background-color: white;
    left: 0;
    top: 0;
    width: 80%;
    height: auto;
    z-index: 1001;
}
    

table.search-results tr td div {
    height: 1.2em;
    overflow: hidden;
}
table.search-results tr {
    background-color: #eee;
    margin-bottom: 1px;
}

td.authors {
    width: 10em; 
}
td.subject {
    width: 40em; 
}
td.when  {
    width: 8em; 
}
span.tag {
    display: inline-block; font-size: 80%; background-color: #eee;
    padding: 2px 4px; margin: 0.3em;
    border-width: 1px; border-color: #222; border-style: solid;
}

.message .headers .header .name {
    font-weight: bold;
}

.message .headers {
    border: 1px solid grey;
    background-color: #ffdddd;
    padding: 4px 2px;
}
.message .compact-headers {
    position: sticky;
    font-size: 80%;
    top: 0;
    height: 1em;
    overflow-y: hidden;
}

.message .headers .header .name:after {
    content: "   ";
}

.message-body pre {
    font-size: 75%;
    white-space: pre-wrap;
}
