body {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    overflow-x: hidden;
}

body,div,form {
    margin:0;
    padding:0;
}

.clickable {
    cursor: pointer;
}


.titleblock {
    background: #552;
    background: linear-gradient(135deg, #662, #440);
    color: white;
    position: fixed;
    margin: 0 ;
    border-bottom: black solid 1px;
    top: 0;
    width: 100%;
    height: 3.2rem;
}

.titleblock .menu {
    float: left;
    margin-left: 0.5em;
} 
.titleblock .menu .item {
    padding: 0.6em 0.3em;
    float: left;
    display: inline-block;
}


.titleblock .title {
    vertical-align: top;
    padding-left: 1em;
    padding-top: 8px;
    font-size: 22px;
}

.content {
    margin: 0 0 0 0.2rem;
    position: fixed;
    width: 100%;
    top: 3.5rem;
    bottom: 0px;
    overflow-y: scroll
}

.search-term-input .widget {
    width: 100%;
    position: relative;
    display: inline-block;
    width: calc(100% - 48px);
    border: 1px solid grey;
    border-radius: 5px;
}

.search-term-input input {
    font-size: 19px;
    padding: 6px;
    width: calc(100% - 14px);
    border: none;
}

.search .taglist {
    position: relative;
    left: 0;
    top: 0;
    z-index: 1001;
}

.search .taglist ul {
    position: absolute;
    cursor: pointer;
    left: 0;
    top: 0;
    width: 80%;
    height: auto;
    background-color: white;
    margin: 0; padding: 0;
    border: 1px solid black;
    font-height: 90%;
    overflow-x: hidden;
}
.search .taglist ul li {
    padding: 2px;
}
.search .taglist ul li:hover {
    background-color: #eee;
}
.search svg.feather-delete {
    vertical-align: bottom;
}


div.search-results .subject {
    font-weight: bold;
    color: #555;
    padding-bottom: 3px;
}

div.search-results div.result {
    font-size: 80%;
    border-bottom-style: dotted;
    border-width: 1px;
    border-color: #999;
    padding: 4px 2px;
}

div.search-results .when {
    color: blue;
    float: right;
}

div.search-results .authors {
    color: #222;
}

span.tag {
    display: inline-block; font-size: 80%; background-color: #eee;
    padding: 2px 4px; margin: 0.3em;
    border-width: 1px; border-color: #222; border-style: solid;
}

.thread {
    background-color: #eee;
}

.message {
    margin: 0.5em 0.5em 0.5em 0.3em;
    border: 1px dots #ddd;
    background-color: white;
}

.message .headers .header .name {
    font-weight: bold;
}

.message .headers {
    background-color: #cfe;
/*    background: linear-gradient(135deg, #ffffc0, #ffffc0, #ffffc0, #ffffc0, #ffffa0, #e6e650); */
    padding: 4px 2px 8px 2px;
    border-bottom: 1px dotted #ddd;
}
.message .compact-headers {
    padding-top: 8px;
    font-size: 90%;
}
.message .compact-headers a {
    text-decoration: none;
    color: black;
    
}
.message .headers .header .name:after {
    content: "   ";
}
.message-body {
    margin: 4px;
    overflow-x: hidden;
    overflow-wrap: break-word;
}
                    
.message-body pre {
    font-size: 75%;
    white-space: pre-wrap;
}
